[workspace]
members = [
  "crates/compiler/parser",
  "crates/compiler",
  "crates/runner",
  "crates/prover",
]
resolver = "2"

[workspace.package]
version = "0.1.1"
edition = "2021"

[workspace.dependencies]
num-traits = "0.2.19"
stwo-prover = { git = "https://github.com/starkware-libs/stwo", rev = "8b5436d", features = [
  "parallel",
] }
