name: Rust Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  test:
    name: ${{ matrix.crate }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate:
          [
            cairo-m-compiler,
            cairo-m-compiler-parser,
            cairo-m-compiler-semantic,
            cairo-m-compiler-diagnostics,
            cairo-m-compiler-mir,
            cairo-m-compiler-codegen,
            cairo-m-common,
            cairo-m-runner,
            cairo-m-prover,
          ]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Rust toolchain
        run: rustup show

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"

      - name: Build ${{ matrix.crate }}
        run: cargo build -p ${{ matrix.crate }}

      - name: Run tests for ${{ matrix.crate }}
        run: cargo test -p ${{ matrix.crate }}
